body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    font-family: "Anton", sans-serif;
    justify-content: center;
    align-items: center;
  }
  
  .night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
  }
  
  .codewithrutu_09 {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite,
      shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite,
      shooting 3000ms ease-in-out infinite;
  }
  .codewithrutu_09::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(
      -45deg,
      rgba(0, 0, 255, 0),
      #5f91ff,
      rgba(0, 0, 255, 0)
    );
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
  }
  .codewithrutu_09::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(
      -45deg,
      rgba(0, 0, 255, 0),
      #5f91ff,
      rgba(0, 0, 255, 0)
    );
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }
  .codewithrutu_09:nth-child(1) {
    top: calc(50% - 132px);
    left: calc(50% - 7px);
    -webkit-animation-delay: 2500ms;
    animation-delay: 2500ms;
  }
  .codewithrutu_09:nth-child(1)::before,
  .codewithrutu_09:nth-child(1)::after {
    -webkit-animation-delay: 2500ms;
    animation-delay: 2500ms;
  }
  .codewithrutu_09:nth-child(2) {
    top: calc(50% - -109px);
    left: calc(50% - 96px);
    -webkit-animation-delay: 1747ms;
    animation-delay: 1747ms;
  }
  .codewithrutu_09:nth-child(2)::before,
  .codewithrutu_09:nth-child(2)::after {
    -webkit-animation-delay: 1747ms;
    animation-delay: 1747ms;
  }
  .codewithrutu_09:nth-child(3) {
    top: calc(50% - -168px);
    left: calc(50% - 12px);
    -webkit-animation-delay: 8783ms;
    animation-delay: 8783ms;
  }
  .codewithrutu_09:nth-child(3)::before,
  .codewithrutu_09:nth-child(3)::after {
    -webkit-animation-delay: 8783ms;
    animation-delay: 8783ms;
  }
  .codewithrutu_09:nth-child(4) {
    top: calc(50% - 62px);
    left: calc(50% - 145px);
    -webkit-animation-delay: 211ms;
    animation-delay: 211ms;
  }
  .codewithrutu_09:nth-child(4)::before,
  .codewithrutu_09:nth-child(4)::after {
    -webkit-animation-delay: 211ms;
    animation-delay: 211ms;
  }
  .codewithrutu_09:nth-child(5) {
    top: calc(50% - -188px);
    left: calc(50% - 109px);
    -webkit-animation-delay: 3434ms;
    animation-delay: 3434ms;
  }
  .codewithrutu_09:nth-child(5)::before,
  .codewithrutu_09:nth-child(5)::after {
    -webkit-animation-delay: 3434ms;
    animation-delay: 3434ms;
  }
  .codewithrutu_09:nth-child(6) {
    top: calc(50% - -157px);
    left: calc(50% - 15px);
    -webkit-animation-delay: 5982ms;
    animation-delay: 5982ms;
  }
  .codewithrutu_09:nth-child(6)::before,
  .codewithrutu_09:nth-child(6)::after {
    -webkit-animation-delay: 5982ms;
    animation-delay: 5982ms;
  }
  .codewithrutu_09:nth-child(7) {
    top: calc(50% - 62px);
    left: calc(50% - 294px);
    -webkit-animation-delay: 4694ms;
    animation-delay: 4694ms;
  }
  .codewithrutu_09:nth-child(7)::before,
  .codewithrutu_09:nth-child(7)::after {
    -webkit-animation-delay: 4694ms;
    animation-delay: 4694ms;
  }
  .codewithrutu_09:nth-child(8) {
    top: calc(50% - 40px);
    left: calc(50% - 13px);
    -webkit-animation-delay: 5844ms;
    animation-delay: 5844ms;
  }
  .codewithrutu_09:nth-child(8)::before,
  .codewithrutu_09:nth-child(8)::after {
    -webkit-animation-delay: 5844ms;
    animation-delay: 5844ms;
  }
  .codewithrutu_09:nth-child(9) {
    top: calc(50% - 173px);
    left: calc(50% - 97px);
    -webkit-animation-delay: 9303ms;
    animation-delay: 9303ms;
  }
  .codewithrutu_09:nth-child(9)::before,
  .codewithrutu_09:nth-child(9)::after {
    -webkit-animation-delay: 9303ms;
    animation-delay: 9303ms;
  }
  .codewithrutu_09:nth-child(10) {
    top: calc(50% - 123px);
    left: calc(50% - 297px);
    -webkit-animation-delay: 2218ms;
    animation-delay: 2218ms;
  }
  .shooting_star:nth-child(10)::before,
  .shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 2218ms;
    animation-delay: 2218ms;
  }
  .shooting_star:nth-child(11) {
    top: calc(50% - 172px);
    left: calc(50% - 3px);
    -webkit-animation-delay: 5877ms;
    animation-delay: 5877ms;
  }
  .shooting_star:nth-child(11)::before,
  .shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 5877ms;
    animation-delay: 5877ms;
  }
  .shooting_star:nth-child(12) {
    top: calc(50% - -68px);
    left: calc(50% - 277px);
    -webkit-animation-delay: 4381ms;
    animation-delay: 4381ms;
  }
  .shooting_star:nth-child(12)::before,
  .shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 4381ms;
    animation-delay: 4381ms;
  }
  .shooting_star:nth-child(13) {
    top: calc(50% - -16px);
    left: calc(50% - 34px);
    -webkit-animation-delay: 4255ms;
    animation-delay: 4255ms;
  }
  .shooting_star:nth-child(13)::before,
  .shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 4255ms;
    animation-delay: 4255ms;
  }
  .shooting_star:nth-child(14) {
    top: calc(50% - 131px);
    left: calc(50% - 29px);
    -webkit-animation-delay: 6968ms;
    animation-delay: 6968ms;
  }
  .shooting_star:nth-child(14)::before,
  .shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 6968ms;
    animation-delay: 6968ms;
  }
  .shooting_star:nth-child(15) {
    top: calc(50% - 100px);
    left: calc(50% - 196px);
    -webkit-animation-delay: 1070ms;
    animation-delay: 1070ms;
  }
  .shooting_star:nth-child(15)::before,
  .shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 1070ms;
    animation-delay: 1070ms;
  }
  .shooting_star:nth-child(16) {
    top: calc(50% - 130px);
    left: calc(50% - 126px);
    -webkit-animation-delay: 9384ms;
    animation-delay: 9384ms;
  }
  .shooting_star:nth-child(16)::before,
  .shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 9384ms;
    animation-delay: 9384ms;
  }
  .shooting_star:nth-child(17) {
    top: calc(50% - -21px);
    left: calc(50% - 225px);
    -webkit-animation-delay: 5608ms;
    animation-delay: 5608ms;
  }
  .shooting_star:nth-child(17)::before,
  .shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 5608ms;
    animation-delay: 5608ms;
  }
  .shooting_star:nth-child(18) {
    top: calc(50% - -179px);
    left: calc(50% - 163px);
    -webkit-animation-delay: 7217ms;
    animation-delay: 7217ms;
  }
  .shooting_star:nth-child(18)::before,
  .shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 7217ms;
    animation-delay: 7217ms;
  }
  .shooting_star:nth-child(19) {
    top: calc(50% - 127px);
    left: calc(50% - 290px);
    -webkit-animation-delay: 7010ms;
    animation-delay: 7010ms;
  }
  .codewithrutu_09:nth-child(19)::before,
  .codewithrutu_09:nth-child(19)::after {
    -webkit-animation-delay: 7010ms;
    animation-delay: 7010ms;
  }
  .codewithrutu_09:nth-child(20) {
    top: calc(50% - -163px);
    left: calc(50% - 161px);
    -webkit-animation-delay: 170ms;
    animation-delay: 170ms;
  }
  .codewithrutu_09:nth-child(20)::before,
  .codewithrutu_09:nth-child(20)::after {
    -webkit-animation-delay: 170ms;
    animation-delay: 170ms;
  }
  
  @-webkit-keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @-webkit-keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  @keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  p {
    position: absolute;
    font-size: 50px;
    font-weight: 900;
    -webkit-text-stroke: 1px rgb(54, 101, 140);
    color: transparent;
    animation: untoldcoding 5s infinite ease-in-out;
  }
  
