body {
    background: #3d405bd7;
    color: #fff;
    font-family: 'Raleway', sans-serif;
  }

a {
    color: #fff;
    text-decoration: none;
  }
  .me {
    width: 400px;
    margin: 90px auto;
  }
  .me p,
  .me h1 {
    letter-spacing: 3px;
    text-align: center;
  }
  .me p {
    font-weight: 200;
  }
  .me span {
    font-weight: bold;
  }
  .social {
    position: fixed;
    top: 30%;
    left: 15px;
  }
  .social ul {
    padding: 0px;
    transform: translate(-270px, 0);
  }
  .social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
  }
  .social ul li:hover {
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
  }
  .social ul li:hover a {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 18px;
  }
  .social ul li:hover i {
    background: #fff;
    transform: rotate(360deg);
    transition: all 1s;
  }

  .social ul li:hover .fa-instagram{
    color:#E1306C;
  }
  .social ul li:hover .fa-github{
    color:#6e5494;
  }
  .social ul li:hover .fa-telegram{
    color:#229ED9;
  }
  .social ul li:hover .fa-twitter{
    color:#1DA1F2;
  }
  .social ul li:hover .fa-linkedin-in{
    color:#0077b5;
  }


  .social ul li i {
    margin-left: 10px;
    color: #fff;
    background: #000;
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    transform: rotate(0deg);
  }
  
 
