@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:wght@600;700;800;900&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        .container{
            width: 100vw;
            height: 100vh;
            background-color: #2b323c;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container h1{
            font-size: 80px;
            font-weight: 600;
        }

        span{
            color: #e639a1;
        }
