@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #142329;
    overflow: hidden;
    cursor: none;
}

ul li{
    /* position: relative; */
    list-style: none;
}

ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.5s;
}

ul:hover li a{
    opacity: 0.1;
}

ul li a:hover{
    opacity: 1;
    /* color: transparent; */
}

ul li a img{
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;
    z-index: -2;
    filter: grayscale(1);
    border-radius: 25px;
}

ul li a:hover img{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

ul li a::before{
    content: attr(data-text);
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: 0.25s;
    font-size: 17vw;
    z-index: -1;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

ul li a:hover::before{
    opacity: 1;
}

.cursor{
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid #2efc72;
    pointer-events: none;
    transition: width 0.25s height 0.25s;
}

ul li:hover ~ .cursor{
    width: 80vw;
    height: 80vw;
    border: 2px solid #2efc72;
}
