@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

        .container{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #386641;
        }

        .card{
            position: relative;
            width: 60%;
            height: 80%;
            margin: auto;
            background-color: #fff;
        }

        .image{
            position: absolute;
            top: 10.5%;
            left: -60px;
            width: 400px;
            height: 450px;
            background-color: #6a994e;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
            border-radius: 25px;
        }

        .image img{
            position: absolute;
            top: 20px;
            left: -50px;
            width: 100%;
            height: auto;
        }

        .content{
            position: absolute;
            left: 43%;
            top: 20px;
        }

        .content h1{
            color: #000;
            font-size: 45px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }

        .content h4{
            color: #333;
            line-height: 0.7;
            font-weight: 500;
        }

        .content p{
            margin-top: 10px;
            color: #e63946;
            font-size: 30px;
        }

        .content p span{
            font-size: 55px;
            font-weight: 600;
        }

        .content h3{
            margin-top: 20px;
            font-size:18px;
            color: #777;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-weight: 500;
        }

        .apples{
            margin: 10px 0;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 30px;
        }

        .apples img{
            padding: 5px;
            width: 50px;
            border: 2px solid #202020;
            border-radius: 15px;
        }

        ul{
            margin-bottom: 30px;
        }

        .btn{
            text-decoration: none;
            color: #fff;
            background-color: #e63946;
            padding: 15px 40px;
            transition: 0.4s;
        }

        .btn:hover{
            border: 2px solid #e63946;
            background-color: #fff;
            color: #e63946;
        }
